<section class="about">
  <div class="about-left">
    <h2 class="about-title">
      Sobre a FarmaVida
    </h2>
    <div class="about-desc">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quidem nesciunt minima praesentium. Nobis, in repudiandae maiores laborum quas necessitatibus eius. Beatae qui doloremque minus nostrum maiores quas porro dolore?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero est, incidunt, reprehenderit tempore illum fugit aperiam nihil ut eaque minima dicta facere atque reiciendis unde nam architecto deserunt nesciunt? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, dicta. Autem quibusdam sunt rem, quod libero voluptatem accusantium nulla beatae velit repellendus, temporibus debitis, eum delectus laboriosam harum aut culpa.
      </p>
    </div>
    <button class="about-desc-more">
      Ver mais
    </button>
  </div>
  <div class="about-right">
    <img src="./assets/img/fachada-farmacia.png" alt="Fachada da farmácia">
  </div>
</section>