<section class="category">
  <h2 class="category-title">
    Categorias que você encontra
  </h2>
  <div class="category-list">
    <div class="top-list">
      <div class="category-item">
        <div class="item-icon">
          <i class="fa-solid fa-pills"></i>
        </div>
        <h4>Medicamentos</h4>
      </div>
      <div class="category-item">
        <div class="item-icon perfume">
          <i class="fa-solid fa-spray-can-sparkles"></i>
        </div>
        <h4>Perfumaria</h4>
      </div>
      <div class="category-item">
        <div class="item-icon">
          <i class="fa-solid fa-droplet"></i>
        </div>
        <h4>Higiene</h4>
      </div>
      <div class="category-item">
        <div class="item-icon">
          <i class="fa-brands fa-envira"></i>
        </div>
        <h4>Vitaminas</h4>
      </div>
    </div>
    <div class="category-item dermo-item">
      <div class="item-icon">
        <i class="fa-solid fa-pump-soap"></i>
      </div>
      <h4>Dermocosméticos</h4>
    </div>
  </div>
</section>