<section class="differences">
  <h2 class="diff-title">
    Nossos diferenciais
  </h2>
  <ul class="diff-list">
    <li class="diff-item">
      <div class="diff-item-icon">
        <i class="fa-solid fa-truck-fast"></i>
      </div>
      <div class="diff-item-text">
        <h4>Entrega rápida</h4>
        <p>Entrega em até 30 minutos</p>
      </div>
    </li>
    <li class="diff-item">
      <div class="diff-item-icon">
        <i class="fa-solid fa-user-doctor"></i>
      </div>
      <div class="diff-item-text">
        <h4>Atendimento farmacêutico</h4>
        <p>Profissionais prontos para te ajudar</p>
      </div>
    </li>
    <li class="diff-item">
      <div class="diff-item-icon">
        <i class="fa-solid fa-id-card"></i>
      </div>
      <div class="diff-item-text">
        <h4>Convênios e parcerias</h4>
        <p>Descontos exclusivos</p>
      </div>
    </li>
    <li class="diff-item">
      <div class="diff-item-icon">
        <i class="fa-solid fa-percent"></i>
      </div>
      <div class="diff-item-text">
        <h4>Ofertas exclusivas</h4>
        <p>Descontos especiais toda semana</p>
      </div>
    </li>
  </ul>
</section>