<section class="hero">
  <div class="hero-container">
    <div class="hero-overlay"></div>
    <div class="hero-content">
      <h2 class="hero-title">
        Cuidado que você sente, confiança que <span>você conhece!</span>
      </h2>
      <div class="hero-details">
        <div class="details-item">
          <div class="datails-icon">
            <i class="fa-solid fa-truck-fast"></i>
          </div>
          <div>
            <p>Entrega rápida</p>
            <p>até 30 minutos</p>
          </div>
        </div>
        <div class="details-item">
          <div class="datails-icon">
            <i class="fa-regular fa-clock icon2"></i>
          </div>
          <p>Aberto até as 22h</p>
        </div>
      </div>
      <a href="whatsapp.com" class="nav-whats-btn hero-btn">
        <p>Peça no whatsapp</p>
        <i class="fa-brands fa-whatsapp"></i>
      </a>
    </div>
  </div>
</section>