<section class="location">
  <div class="location-text">
    <h2 class="loc-title">
      Onde estamos
    </h2>
    <p class="loc-desc">
      Rua da farmácia, 123 Centro Belo Horizonte - MG
    </p>
  </div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3755.40826834038!2d-45.2518573!3d-19.7378014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b33e7a85702adf%3A0xb17ab35927000fb!2sPar%C3%B3quia%20Nossa%20Senhora%20do%20Bom%20Despacho!5e0!3m2!1spt-BR!2sbr!4v1779727019243!5m2!1spt-BR!2sbr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="loc-map"></iframe>
</section>