<header>
  <img src="./assets/img/logo-farma.png" alt="Logo Farmácia" class="header-logo">
  <nav class="nav-desktop">
    <a href="#hero" class="nav-desktop-item">Início</a>
    <a href="#about" class="nav-desktop-item">Sobre</a>
    <a href="#category" class="nav-desktop-item">Categorias</a>
    <a href="#differences" class="nav-desktop-item">Beneficios</a>
    <a href="#location" class="nav-desktop-item">Localização</a>
  </nav>
  <button class="nav-open-menu" id="menu-open-btn">
    <i class="fa-solid fa-bars"></i>
  </button>
  <a href="whatsapp.com" class="nav-whats-btn">
    <p>Peça no whatsapp</p>
    <i class="fa-brands fa-whatsapp"></i>
  </a>
  <div class="overlay"></div>
  <div class="side-menu">
    <div class="menu-top">
      <img src="./assets/img/logo-farma.png" alt="Logo Farmácia" class="logo-menu">
      <button class="nav-close-menu" id="menu-close-btn">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <div class="menu-nav">
      <a href="#hero" class="menu-nav-item">
        <div class="menu-icon-container">
          <i class="fa-solid fa-house"></i>
        </div>
        <p>Início</p>
      </a>
      <a href="#about" class="menu-nav-item">
        <div class="menu-icon-container">
          <i class="fa-solid fa-user"></i>
        </div>
        <p>Sobre</p>
      </a>
      <a href="#category" class="menu-nav-item">
        <div class="menu-icon-container">
          <i class="fa-solid fa-border-all"></i>
        </div>
        <p>Categorias</p>
      </a>
      <a href="#differences" class="menu-nav-item">
        <div class="menu-icon-container">
          <i class="fa-solid fa-circle-check"></i>          
        </div>
        <p>Beneficios</p>
      </a>
      <a href="#hero" class="menu-nav-item">
        <div class="menu-icon-container">
          <i class="fa-solid fa-location-dot"></i>
        </div>
        <p>Localização</p>
      </a>
    </div>
    <a href="whatsapp.com" class="nav-whats-btn menu">
      <p>Peça no whatsapp</p>
      <i class="fa-brands fa-whatsapp"></i>
    </a>
    <div class="dif-menu">
      <div class="dif-menu-item">
        <div class="dif-icon-container">
          <i class="fa-solid fa-truck-fast"></i>
        </div>
        <div class="dif-text-container">
          <h4>Entrega rápida</h4>
          <p>até 30 minutos</p>
        </div>
      </div>
      <div class="dif-menu-item">
        <div class="dif-icon-container">
          <i class="fa-solid fa-user-doctor"></i>          
        </div>
        <div class="dif-text-container">
          <h4>Atenddimento</h4>
          <p>farmacéutico</p>          
        </div>
      </div>
      <div class="dif-menu-item">
        <div class="dif-icon-container">
          <i class="fa-solid fa-heart-pulse"></i>
        </div>
        <div class="dif-text-container">
          <h4>Convênios</h4>
          <p>e parceiros</p>
        </div>
      </div>
      <div class="dif-menu-item">
        <div class="dif-icon-container">
          <i class="fa-solid fa-percent"></i>          
        </div>
        <div class="dif-text-container">
          <h4>Descontos</h4>
          <p>exclusivos</p>
        </div>
      </div>
    </div>
    <div class="menu-socials">
      <a href="instagram.com" class="link-social">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="facebook.com" class="link-social">
        <i class="fa-brands fa-facebook-f"></i>
      </a>
    </div>
  </div>
</header>
