@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--gray-light);
}

body {
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

li {
  list-style: none;
}

.nav-whats-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  padding: 1rem 1.2rem;
  gap: 1rem;
  border-radius: 10px;
}

.nav-whats-btn * {
  background: transparent;
  color: var(--gray-light);
  font-size: 1.2rem;
}

.nav-whats-btn i {
  font-size: 1.8rem;
}

.nav-whats-btn:active {
  background-color: var(--secondary);
}

/* BOTÃO WHATS FLUTUANTE MOBILE 365px */
.whats-btn {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: var(--secondary);
  border-radius: 50%;
}

.whats-btn:active {
  background-color: var(--primary);
}

.whats-btn:hover {
  background-color: var(--primary);
  cursor: pointer;
}

.whats-btn i {
  width: 100%;
  height: 100%;
  font-size: 2.3rem;
  background: transparent;
  color: var(--gray-light);
  padding: 0.6rem 0.7rem;
}

/* BOTÃO WHATS FLUTUANTE TABLET 768px */
@media (min-width: 768px) {
  .whats-btn {
    bottom: 18px;
    right: 18px;
  }

  .whats-btn i {
    font-size: 2.6rem;
  }
}

/* BOTÃO WHATS FLUTUANTE TABLET 768px */
@media (min-width: 1280px) {
  .whats-btn {
    bottom: 22px;
    right: 22px;
  }

  .whats-btn i {
    font-size: 2.8rem;
  }
}

/* BOTÃO WHATS FLUTUANTE TABLET 768px */
@media (min-width: 1920px) {
  .whats-btn {
    bottom: 22px;
    right: 22px;
  }

  .whats-btn i {
    font-size: 4.5rem;
    padding: 0.8rem 0.9rem;
  }
}